




<div class="container">
    <header>
        <div class="row pt-3">
            <div class="col  " >
                <img src="/assets/shared/logo.svg" alt="">
            </div>
            <div class="col  trans  ">
                <!-- <div class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar">
                    <span class="navbar-toggler-icon bg-danger"></span>
                        </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">1111111</li>
                        <li class="nav-item">22222</li>
                        <li class="nav-item">3333</li>
                        <li class="nav-item">44444</li>
                    </ul>
                </div>
            </div> -->

                <ul class="list-inline   d-flex justify-content-center ">
                    <li class="list-inline-item p-4 " style="cursor:pointer;" [routerLink]="''">00 HOME</li>
                    <li class="list-inline-item p-4 " style="cursor:pointer;" [routerLink]="'/destination'">01 DESTINATION</li>
                    <li class="list-inline-item p-4 " style="cursor:pointer;" [routerLink]="'/crew'">02 CREW</li>
                    <li class="list-inline-item p-4 " style="cursor:pointer;" [routerLink]="'/technology'">03 TECHNOLOGY</li>
                </ul>
            </div>
        </div>
    
    </header>
    
    
</div>

