
<body>
  <app-header></app-header>

<div class="heading-crew" ><h2 >02 MEET YOUR CREW</h2>
</div>

     <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container pt-5">
          <div class="container">
    
    <div class="row">
   
      <div class="col  col-crewmate">
        <h3 >COMMANDER</h3>
        <H1 style="font-size: 60px; padding-inline-start: 0; padding-top: 10px;">DOUGLAS HURLEY</H1>
        <P>Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He launched into space for the third time as commander of Crew Dragon Demo-2.</P>
      </div>
      <div class="col col-img">
        <img src="assets\crew\image-douglas-hurley.png" alt="" style="height: 500px; padding-left: 200px; padding-top: 5px;">
      
      </div>

    </div>
   
  
  </div>
</div>
        </div>
        <div class="carousel-item">
          <div class="container pt-5">
  
  <div class="container">
    
    <div class="row">
      
      <div class="col col-crewmate">
        <h3 >COMMANDER</h3>
        <H1 style="font-size: 60px; padding-inline-start: 0; padding-top: 30px;padding-bottom: 20px;">MARK SHUTTLEWORTH</H1>
        <P>Mark Richard Shuttleworth is the founder and CEO of Canonical, the company behind the Linux-based Ubuntu operating system. Shuttleworth became the first South African to travel to space as a space tourist.</P>
      </div>
      <div class="col col-img ">
        <img src="\assets\crew\image-mark-shuttleworth.png" alt="" style="height: 500px; padding-left: 200px; ">
      </div>
      
    </div>
  
  </div>
</div>
        </div>
        <div class="carousel-item">
          <div class="container pt-5">
  
            <div class="container">
              
              <div class="row">
              
                <div class="col col-crewmate">
                  <h3 >PILOT</h3>
                  <H1 style="font-size: 60px; padding-inline-start: 0; padding-top: 30px;padding-bottom: 20px;">Victor Glover</H1>
                  <P>Pilot on the first operational flight of the SpaceX Crew Dragon to the International Space Station. Glover is a commander in the U.S. Navy where he pilots an F/A-18.He was a crew member of Expedition 64, and served as a station systems flight engineer. </P>
                </div>
                <div class="col col-img">
                  <img src="assets\crew\image-victor-glover.png" alt="" style="height: 500px; padding-left: 200px; ">
                </div>
                
              </div>
            
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container pt-5">
  
            <div class="container">
              
              <div class="row">
               
                <div class="col col-crewmate">
                  <h3 >ANOUSHEH ANSARI </h3>
                  <H1 style="font-size: 60px; padding-inline-start: 0; padding-top: 30px;padding-bottom: 20px;">Victor Glover</H1>
                  <P>Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. Ansari was the fourth self-funded space tourist, the first self-funded woman to fly to the ISS, and the first Iranian in space.  </P>
                </div>
                <div class="col col-img">
                  <img src="\assets\crew\image-anousheh-ansari.png" alt="" style="height: 500px; padding-left: 200px; ">
                </div>
               
              </div>
            
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev prev-iconn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 

  </body>